
h3 {
    border-bottom: 1px solid #acacac; 
    background-color: #dedede;
    padding: 15px 20px;
    text-align: center;
    font-size: 28px;
    margin: 10px 0px;
}
dialog {
    font-family: book-antiqua;
    position: fixed;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    border: black;
    box-shadow: 0 0 10px black;
}
#add-task-form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px auto;
}

#add-task-form label,
#add-task-form input[type="text"] {
    font-family: book-antiqua;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    accent-color:#333;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px 5px 3px 6px;
    box-sizing: border-box;
}

#add-task-form input[type="submit"] {
    font-family: book-antiqua;
    padding: 10px 20px;
    font-size: 20px;
    accent-color:#333;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-task-form input[type="submit"]:hover {
    background-color: #555;
}
#searchInput {
    padding: 10px 20px;
    font-family: book-antiqua;
    margin-left: 10px;
    font-size: 18px;
    accent-color:#333;
    background-color: #fff;
    color: #333;
    border-color: #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .table {
    margin-top: 20px;
    border-collapse: collapse; 
    width: 100%; 
   }
   
   .task-columns {
    display: flex; 
   }
   
   .task-column {
    border: 1px solid #acacac; 
    flex: 1; 
   
   }
   
   .task-list {
    
    list-style: none;
    padding: 0;
    margin: 0;
   }
   
   .task-item {
    display: flex;
    width: 90%;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 10px;
   }
   
   .task-container {
    font-size: 22px;
    display: flex;
    align-items: center;
   }
   
   .task-container span {
    margin-left: 10px;
   }
   
   .task-checkbox {
    accent-color: #000000;
    margin-top: 5px;
    margin-left: 10px;
   }
   
   .task-delete {
    font-family: book-antiqua;
    font-size: 18px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   .task-delete:hover {
    background-color: #555555;
   }

   .task-column h3 {
    margin-top: 0;
   }
   
   .task-column, .task-list, .task-item, .task-container {
    margin: 0; 
   }

ul {
    font-family: book-antiqua;
    padding: 0;
}

li {
    font-family: book-antiqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.completed {
    text-decoration: line-through;
    color: gray;
}

a {
    font-family: book-antiqua;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

a button {
    font-family: book-antiqua;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #303030;
    color: #E9E9ED;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a button:hover {
    background-color: #555555;
}

@media (max-width: 768px) {
h3{
    font-size: 20px;
    
}
.task-columns {
    flex-direction: column;
   }
   .task-column {
    flex: 1 1 100%; 
    margin-bottom: 20px;
   }
}